form{
    display: flex;
    width: 360px;
    flex-direction: column;
    gap: 8px;
}

form input{
    border: 1px solid #808080;
border-radius: 4px;
width: 100%;
height: 40px;
margin-top: 8px;
padding-left: 16px;
outline: none;
}
form textarea{
    outline: none;
    padding-left: 16px;
    padding-top: 5px;
    width: 100%;
    margin-top: 8px;
    resize: none;
    height: 80px;
}
form button{
    border-radius: 8px;
padding: 8px 16px;
width: 95px;
height: 40px;

background: #4e75ff;

border: none;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
transition:background 300ms ease-in-out;
}
form button:hover{
    background: #6c8cff;
}
