.ul_navigation{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 40px;
}
.navigation{
    color: blue;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out, border 300ms ease-in-out;
}
.navigation:hover{
    transform: scale(1.4);
    background-color: blue;
    color: white;
    border: none;

}
.btn-back{
    position: absolute;
    top: 50px;
    left: 200px;
    border: 1px lack solid;
    padding: 10px 20px;
    border-radius: 20px;
    transition:background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.btn-back:hover{
    border-color: white;
    background-color: black;
    color: white;
}